{{#> BaseLayout}}
  <div class="login">
    <div>
      <h1 class="login_title">Вход</h1>
      {{#>Form}}
        {{>Field label="Логин" name="login"}}
        {{>Field label="Пароль" name="password" type="password"}}
      {{/Form}}
    </div>
    <div>
    {{>Button label='Авторизоваться'}}
    {{>Button label='Нет аккаунта?' type='link' page='signup'}}
    </div>
  </div>
{{/BaseLayout}}
