{{#> BaseLayout}}
<div class="login">
  <div>
    <h1 class="login_title">Вход</h1>
    {{#>Form}}
    {{{LoginField }}}
    {{{PasswordField }}}
    {{/Form}}
  </div>
  <div>
    {{{AuthButton }}}
    {{{SignupButton }}}
  </div>
</div>
{{/BaseLayout}}
