<ul class="dropdown dropdown__closed" id="chat_options">
  <li class="dropdown__list_item">{{{AddUser}}}</li>
  <li class="dropdown__list_item">{{{DeleteUser}}}</li>
  <li class="dropdown__list_item">{{{DeleteChat}}}</li>
</ul>