<div class="profile__info_wrapper">
  {{#>Form}}
    {{>FieldInline label="Почта" name="email" value="pochta@yandex.ru"}}
    {{>Divider}}
    {{>FieldInline label="Логин" name="login" value="coler95"}}
    {{>Divider}}
    {{>FieldInline label="Имя" name="first_name" value="Artemii"}}
    {{>Divider}}
    {{>FieldInline label="Фамилия" name="second_name" value="Pudovkin"}}
    {{>Divider}}
    {{>FieldInline label="Имя в чате" name="display_name" value="Artemii"}}
    {{>Divider}}
    {{>FieldInline label="Телефон" name="phone" value="89222222222"}}
  {{/Form}}
</div>