.button__icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $blue;
  cursor: pointer;

  &-rotate-180 {
    transform: rotate(180deg);
  }

  &__secondary {
    background-color: transparent;
    transition: all ease-in-out 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $grey;
    }
  }

  &:disabled {
    background-color: $grey;
  }
}
