{{#> BaseLayout}}
  <div class="profile">
    <aside class="profile__side_menu">
      {{{BackIcon}}}
    </aside>
    <div class="password__edit_wrapper">
      {{{UserAvatar}}}
      {{{PasswordEditForm}}}
    </div>
  </div>
{{/BaseLayout}}