{{#> BaseLayout}}
<div class="profile">
  <aside class="profile__side_menu">
    {{{BackIcon}}}
  </aside>
  <div class="profile__wrapper">
    {{{UserAvatar}}}
    <h1 class="profile__title">Артемий</h1>
    {{{ProfileForm}}}
  </div>
</div>
{{/BaseLayout}}
