@import "variables"
@import "./src/styles/login"
@import "./src/styles/signin"
@import "./src/styles/main"
@import "./src/styles/profile"
@import "./src/components/input/input"
@import "./src/components/errors/errors"
@import "./src/components/chatCard/chatCard"


html
  box-sizing: border-box
  font-family: 'Inter', sans-serif

body
  margin: 0
  padding: 0
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

a
  text-decoration: none
  color: $primary-color
  margin-bottom: 10px

.main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

ul
  margin-block-start: 0
  margin-block-end: 0
  padding-inline-start: 0
  list-style: none
