body, h1, h2, h3, h4, h5, h6, ul, li, input, button, span, p {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  background: none;
}

input:focus-visible {
  outline: none;
}

button {
  background: none;
  border: none;
}