@import './normalize';
@import './variables';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap';
@import '../components/index';
@import '../pages/index';

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: $white;
  font-family: Inter, sans-serif;
}

#app {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
