@import './normalize.scss';
@import './variables.scss';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap';
@import '../components/index.scss';
@import '../pages/index.scss';

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: $white;
  font-family: Inter, sans-serif;
}

#app {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
