<label for="search-field" class="search__field">
  <img src="src/assets/icons/search.svg" alt="search icon" />
  <input type="text" placeholder="Поиск" id="search-field" class="search__field_input" />
</label>
