extends ../layouts/head
include ../components/input/input

block content
    .signin
        h1.signin__header Регистрация
        form.signin__form(action="")
            div.signin__inputs
                +input('Почта', 'email', 'text')
                +input('Логин', 'email', 'text')
                +input('Имя', 'email', 'text')
                +input('Фамилия', 'email', 'text')
                +input('Телефон', 'email', 'text')
                +input('Пароль', 'email', 'password')
                +input('Пароль (ещё раз)', 'email', 'password')
            div.signin__buttons
                input(type="submit", value="Зарегистрироваться").signin__button
                a(href="./login.pug").signin__login Войти