.chat__card
  display: flex
  align-items: center
  padding: 10px 0
  border-top: 1px solid #EAEAEA

  &__avatar
    width: 45px
    height: 45px
    border-radius: 50%
    background-color: #EFEFEF
    margin-right: 10px

    &__name
      font-size: 13px
      font-weight: 600
      line-height: 13px
      margin-bottom: 4px

    &__message
      font-size: 12px
      font-weight: 500
      line-height: 15px
      color: #999999