<div class="profile__info_wrapper">
  {{#>Form}}
    {{{OldPassword}}}
    {{>Divider}}
    {{{NewPassword}}}
    {{>Divider}}
    {{{RepeatPassword}}}
  {{/Form}}
  <div class="profile__info_submit_button">
    {{{SubmitButton}}}
  </div>
</div>