<div class="avatar avatar__size-{{ size }}">
  {{#if link}}
  <img src="https://ya-praktikum.tech/api/v2/resources{{ link }}" alt="user avatar" />
  {{else}}
    <div class="avatar__empty">
      {{{title}}}
    </div>

  {{/if}}
</div>
