extends ./layouts/head

block content
    .main
        a(href="./pages/login.pug") Login
        a(href="./pages/signin.pug") Signin
        a(href="./pages/error500.pug") 500 Error
        a(href="./pages/error404.pug") 404 Error
        a(href="./pages/main.pug") Main
        a(href="./pages/profile.pug") Profile
