<div class="modal modal__closed" id="avatar_change_modal">
  {{{ModalOverlay}}}
  <div class="modal__content modal__avatar">
    Загрузите файл
    <label for="avatar" class="modal__avatar__label">
      Выбрать файл на компьютере
    </label>
    {{{InputElement}}}
    {{{SubmitButton}}}
  </div>
</div>