{{#> BaseLayout}}
  <div class="error">
    <h1 class="error__number">{{error}}</h1>
    <h2 class="error__title">{{errorMessage}}</h2>
    {{>Button label='Назад к чатам' type='link' page='chats'}}
  </div>
{{/BaseLayout}}
